


<% if current_user.nil? %>
  <nav>
    <%= link_to("Sign in",new_user_session_path) %>
    <%= link_to("Sign up", new_user_registration_path) %>
  </nav>
<%else%>
  <div class="white_space">
    <% @arti.each do |article| %>
    <p>  <%= link_to(article.title,article) %><br/><%=article.body%>
      <p>Liczba komentarzy: <%= article.comments.count %></p>
      <% if article.user_id==current_user.id %>
    <%= link_to("Usun",article_path(article),data: {confirm: "Na pewno?"},method: :delete) %></p>
    <%end%>
    <%end%>
  </div>
<p><%= link_to("Nowy",new_article_path) %></p>
<%end%>
